RUNPOD_S3_URL=https://revenuemindproai.s3.eu-west-1.amazonaws.com/runpod_videos/
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
DEFAULT_VIDEO_FPS=6
MIN_CACHE_FREE_GB=12
