RUNPOD_S3_URL=https://revenuemindproai.s3.eu-west-1.amazonaws.com/runpod_videos/
AWS_REGION=eu-west-1
AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
WORKER_BACKEND=comfyui
VIDEO_BACKEND=comfyui
DEFAULT_VIDEO_FPS=6
MIN_CACHE_FREE_GB=12

# ComfyUI backend settings. These are only required when WORKER_BACKEND=comfyui.
COMFYUI_ROOT=/opt/ComfyUI
COMFYUI_HOST=127.0.0.1
COMFYUI_PORT=8188
COMFYUI_FORCE_FP16=true
COMFYUI_STARTUP_TIMEOUT_SECONDS=240
COMFYUI_JOB_TIMEOUT_SECONDS=1800
COMFYUI_POLL_INTERVAL_SECONDS=2
COMFYUI_VIDEO_FORMAT=video/runpod_h264_mp4
COMFYUI_VIDEO_PRESET=veryfast
COMFYUI_VIDEO_CRF=23
COMFYUI_VIDEO_PIX_FMT=yuv420p
COMFYUI_CKPT_NAME=v1-5-pruned-emaonly.safetensors
COMFYUI_MOTION_MODEL_NAME=mm_sd_v15_v2.ckpt
COMFYUI_LORA_NAME=lcm-lora-sdv1-5.safetensors
COMFYUI_CKPT_SOURCE_REPO=Syimbiote/v1-5-pruned-emaonly
COMFYUI_CKPT_SOURCE_FILENAME=v1-5-pruned-emaonly.safetensors
COMFYUI_MOTION_MODEL_SOURCE_REPO=guoyww/animatediff
COMFYUI_MOTION_MODEL_SOURCE_FILENAME=mm_sd_v15_v2.ckpt
COMFYUI_LORA_SOURCE_REPO=latent-consistency/lcm-lora-sdv1-5
COMFYUI_LORA_SOURCE_FILENAME=pytorch_lora_weights.safetensors
